.comment-card {
  border: 5px solid #2fa09f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
}

.comment-card img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.comment-card p:nth-of-type(1) {
  font: var(--fontBase);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.comment-card p:nth-of-type(2) {
  font: var(--caption);
}

@media screen and (min-width: 1140px) {
  .comment-card {
    max-width: 900px;
    margin: auto;
  }
}
